<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{resolve "style.css"}}" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    {{{front.head}}}
    <title>{{front.title}} - yuma14</title>
  </head>
  <body class="container">
    <header class="header">
      <div>
        <h1 class="website-title"><a href="/">yuma14.net</a></h1>
      </div>
      <div class="stretch"></div>
      <div class="widemenu">
        <div>
          <label for="theme-select-widemenu">テーマ:</label>
          <select id="theme-select-widemenu" class="theme-select">
            <option value="auto">自動</option>
            <option value="light">ライト</option>
            <option value="dark">ダーク</option>
          </select>
        </div>
        <a href="/profile">About Me</a>
        <a href="/works">つくったもの</a>
        <a href="/webtools">WebTools</a>
        <a href="/services">サービス一覧</a>
        <a href="../">&nbsp;../上へ</a>
      </div>
      <div class="drawer">
        <input id="drawer-checkbox" type="checkbox" />
        <label id="drawer-icon-open" for="drawer-checkbox"><span class="material-symbols-rounded">menu</span></label>
        <label id="drawer-close-area" for="drawer-checkbox"></label>
        <div id="drawer-menu">
          <a href="../">../上へ</a>
          <a href="/">ホーム</a>
          <hr/>
          <a href="/profile">About Me</a>
          <a href="/works">つくったもの</a>
          <a href="/webtools">WebTools</a>
          <a href="/services">サービス一覧</a>
          <hr/>
          <div>
            <div>
              <label for="theme-select-drawer">テーマ:</label>
              <select id="theme-select-drawer" class="theme-select">
                <option value="auto">自動</option>
                <option value="light">ライト</option>
                <option value="dark">ダーク</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="markdown {{#if front.fullContentWidth}}full-width{{/if}}">
        {{#unless front.hideTitle}}
        <h1>{{front.title}}</h1>
        {{/unless}}
        <div class="markdown-body">
        {{#if front.noMdConvert}}
          {{{content}}}
        {{else}}
          {{{md2html content}}}
        {{/if}}
        </div>
      </div>
    </main>
    <footer class="footer">
      このサイトは拙作のRust製静的サイトジェネレーター<a href="https://github.com/yuma140902/tempura" target="_blank">Tempura</a>で作られました
    </footer>

    <script type="module">
      import Cookies from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.mjs';

      const updateTheme = theme => {
          if(theme !== 'dark' && theme !== 'light') {
            if(window.matchMedia('(prefers-color-scheme: dark)').matches) {
              theme = 'dark';
            }
            else {
              theme = 'light';
            }
          }
          if(!document.body.classList.contains(theme)) {
            document.body.classList.add(theme);
          }
          if(theme === 'dark' && document.body.classList.contains('light')) {
            document.body.classList.remove('light');
          }
          if(theme === 'light' && document.body.classList.contains('dark')) {
            document.body.classList.remove('dark');
          }
          /* イベントハンドラ */
          if(window.onUpdateTheme) {
              window.onUpdateTheme(theme);
          }
      }

      document.querySelectorAll('select.theme-select').forEach(element => {
        /* テーマが変更されたときの処理 */
        element.addEventListener('change', event => {
          let theme = event.target.value;
          updateTheme(theme);
          Cookies.set('theme', event.target.value, { expires: 365, samesite: 'Lax' });
        });
      });

      /* Cookieから復元 */
      const theme = Cookies.get('theme');
      document.querySelectorAll('select.theme-select').forEach(element => {
        element.value = theme ?? 'auto';
        updateTheme(element.value);
      });
    </script>
  </body>
</html>
